* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F1F0EB;
}

/* Style the header */
.header {
  font-size: 1.2em;
  color: rgb(0, 3, 7);
  background-color: #EDF6E9;
  padding: 15px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #0D2F4A;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 50px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #F1F0EB;
  color: #000000;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  margin-right: 10px;
  padding: 10px;
}
.column img {
    width: 110px;
    height: 100px;
    border-radius: 40%;
  }
.column p button{
  border-radius: 6px;
  background-color: rgb(186, 205, 221);
  }
.column p button:hover {
  background-color: #F1F0EB;
  color: #000000;
  cursor: pointer;
  }

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}
   
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  color: rgb(0, 3, 7);
  background-color: #EDF6E9;
  padding: 8px;
  text-align: center;
  font-size: 1.5em;

}
/* Style the top navigation bar */
.footernav {
  overflow: hidden;
  background-color: #0D2F4A;
}

/* Style the topnav links */
.footernav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
/* Change color on hover */
.footernav a:hover {
  background-color: #F1F0EB;
  color: #000000;
}

